#hero {
    margin-top: 5rem;
    background-image: url(../../assets/hero.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    background-size: 100%;
}
.hero__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: .5rem;
    align-items: center;
    margin-top: -1rem;
}
.hero__section h1 {
    color: var(--color-black);
    padding-inline: 20px;
}
.hero__section h3 {
    color: var(--color-black);
    font-weight: 300;
}
.hero__section h1 span {
    color: var(--color-primary);
}
.hero__section h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btn__hero {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 20px;
    padding-inline: 40%;
}
.hero__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 25px;
    /* width: 100%; */
    height: 80px;
    background-color: var(--color-white);
    border-radius: 80px;
    margin: 10px 0;
}
.input__section {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    align-items: center;
    width: 280px;
    border-right: 1px solid var(--color-grey);
}
.inside__searchy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.big__icon__text {
    display: none;
}
.spantext {
    margin-right: 15px;
}
#search__icon, #location__icon, #down_icon {
    font-size: 20px;
    color: var(--color-grey);
    margin-top: 5px;
}

#big__search {
    padding: 15px 15px;
    width: 100%;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    color: rgb(245, 245, 245);
    font-size: 18px;
}
#big__search:hover {
    padding: 15px 15px;
    width: 100%;
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    color: black;
}
input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}
input::placeholder,.spantext {
    color: var(--color-grey);
    font-weight: 300;
    font-size: 15px;
}
.location__search  {
    color: var(--color-grey);
    font-weight: 300;
    font-size: 15px;
}
.location__search {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
    padding: 0 20px;
}
.icons__inside__seacrch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search__icon {
    background: none;
}
.btn-primary {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 22px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: white;
    border-radius: 30px;
}
.btn-primary:hover {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 22px;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    color: white;
    border-radius: 30px;
}
.btn-white {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 22px;
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    color: rgb(39, 39, 39);
    border-radius: 30px;
}
.btn-white:hover {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 22px;
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: rgb(39, 39, 39);
    border-radius: 30px;
}
.icons__group {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 600px) {
    
    #hero {
        background-size: cover;
        background-position-x: left;
        height: 100vh;
        margin-top: 50px;
    }
    .container {
        width: var(--container-width-md);
    }

    .hero__section h1 {
        font-size: 42px;
    }
    .hero__section h3 {
        font-size: 18px;
        padding-inline: 35px;
        line-height: 25px;
        padding-inline:  50px;
    }
    .btn__hero {
        display: flex;;
        flex-direction: row;
        /* justify-content: space-between;
        align-items: center; */
    }
   .btn-primary, .btn-white {
        font-size: 18px;
        font-weight: 300;
    }
   .btn-primary:hover {
        border: 1px solid var(--color-black);
        padding:10px 35px;
        font-size: 18px;
        font-weight: 300;
    }
    .btn-white:hover {
        border: 1px solid var(--color-white);
        padding:10px 35px;
        font-size: 18px;
        font-weight: 300;
    }
    .hero__search {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        gap: 0px;
        margin-top: 50px;
        padding: 0;width: 100%;

        /* width: 100%; */
        /* padding: 0 20px; */
    }
    .input__section {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 20px;
        /* width: 400px; */
        background-color: white;
        border-radius: 40px;
        border: none;
        width: 100%;
    }
    .inside__searchy {
        display: block;
        align-items: center;
        /* flex-direction: column; */
        width: 100%;
    }
    .icons__inside__seacrch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        /* width: 280px; */
        background-color: white;
        border-radius: 40px;
        margin: 15px 0;
    }
    .icons__group {
        display: flex;
        align-items: center;
        align-items: center;
        gap: 10px;
    }
    .big_icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* text-align: center;*/
        justify-content: center; 
        gap: 10px;
        border-radius: 40px;
        padding: 12px 20px;
        background-color: var(--color-primary);
    }
    .big_icon:hover {
        background-color: var(--color-black);
    }
    #big__search {
        width: 0;
        padding-bottom: 5px;
        background-color: transparent;
        border: none;
       
    }
    #big__search:hover {

        color: white;

    }
    .big__icon__text     {
        color: rgb(252, 252, 252);
        display: flex;
        font-size: 15px;
    }
}